@{
    Layout = null;

    var role = ViewData["Role"] as Epoint.PingBiao.Model.Sys.Role;
    var power = ViewData["Power"] as Epoint.PingBiao.Model.Sys.PowerConfig;
    string[] ids = role.ActionIds.Split(',');
}

<div class="pure-g">
    <a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Sys/RoleList');" class="pure-link pure-link-black">返回</a>
</div>

<form class="pure-form  pure-form-aligned" id="roleUpd">
    <input type="hidden" name="Role_Id" value="@role.Role_Id" />
    <fieldset>
        <legend>修改角色</legend>
        <div class="pure-control-group">
            <label>角色名</label>
            <input name="RoleName" type="text" value="@role.RoleName" placeholder="角色名" />
            <div class="pure-error pure-c-error" name="RoleName"></div>
        </div>

        @foreach (var group in power.PowerGroupList)
        {
            <text>
                <div class="pure-control-group">
                    <label>@group.GroupName</label>
                    @{
            var plist = group.PowerList.Where(t => t.NoGroupId == group.NoGroupId);
                    }
                    @foreach (var item in plist)
                    {

                        <input name="ActionId" type="checkbox" @(ids.Contains(item.NoPowerId) ? "checked" : "") value="@item.NoPowerId" />
                        <span title="@item.PowerDes">@(item.PowerName) @(item.IsShow ? "(显示)" : "(隐藏)") </span>

                    }
                </div>
            </text>
        }

        <div class="pure-controls">
            <button type="button" class="pure-button pure-button-primary" name="roleupd">修改</button>
        </div>
    </fieldset>
</form>

<script type="text/javascript">

    $(function () {
        $('button[name=roleupd]').bind('click', function () {
            var Id = $("#roleUpd input[name=Role_Id]").val();
            var val = $("#roleUpd input[name=RoleName]").val();
            if (val == '' || val == undefined) { $('div[name=RoleName]').html('请填写角色名'); return; } else {
                $('div[name=RoleName]').html('');
            }
            var ids = "";
            $('input[name=ActionId]:checked').each(function () {
                if (ids.length > 0) {
                    ids += ',' + $(this).val();
                } else {
                    ids += $(this).val();
                }
            });
            $.ajax({
                url: "/Admin/Sys/RoleUpdate",
                type: "post",
                data: { RoleName: val, ActionIds: ids, Id: Id },
                success: function (obj) {
                    if (obj.pass) {
                        Admin.loadContent_Jq('main-content', '/Admin/Sys/RoleList');
                    } else {
                        alert(obj.msg)
                    }
                }
            });

        })
    })

</script>
